#app {
  margin: auto;
  height: 100vh;
  width: 50%;
  text-align: center;
}

button {
  background-color: #555;
  color: white;
  padding: 8px 16px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #777;
}

.btn-primary {
  background-color: var(--primary-color);
  color: white;
  padding: 10px 20px;
  border-radius: 6px;
  border: none;
  cursor: pointer;
  font-weight: 'bold';
}

.btn-primary:hover {
  background-color: var(--primary-color-hover);
}

input[type='radio'] {
  margin-left: 8px;
}

span {
  margin-left: 10px;
}

.folder-input-container {
  background-color: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 6px;
  margin-top: 20px;
  width: 100%;
  height: 200px;
  cursor: pointer;
}

.select-folder-label {
  display: inline-block;
  margin-right: 12px;
}
